.DS_Store
.ipynb_checkpoints

# exclude everything in data folder
data/*
# exception to the rule so we stil have the folder
!data/.gitkeep 

# exclude everything in models folder
models/*
# exception to the rule so we stil have the folder
!models/.gitkeep

# ignore wandb files
/notebooks/wandb/*
